@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.dots {
  background: url('assets/images/bg-dots.svg') no-repeat;
}

.bg::after {
  content: '';
  width: 50%;
  height: 75%;
  right: 0;
  bottom: 0;
  background-color: hsl(231, 69%, 60%);
  border-radius: 100% 0 0 100%;
  z-index: -1;
  position: absolute;
}